flask==2.0.3
flask-cors==3.0.10
pandas==1.4.1
plotly==5.6.0
scipy==1.8.0
numpy==1.21.0
matplotlib==3.5.1
streamlit==1.8.1
streamlit-option-menu==0.3.2
Pillow==9.1.1
scikit_learn==1.1.1
altair==4.2.0
statsmodels==0.13.2